<mat-toolbar class="header mat-elevation-z2"> <!--Isso cria um header com background acinzentado-->
    <span>
        <!--
            Para usar o routerLink eu precisei pedir para o angular
            no início da criação da aplicação

            Quando eu clicar na logo da loja, serei redirecionado para
            a página inicial (home)
        -->
        <a routerLink="/">
            <img class="logo" src="assets/images/logo-store.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a>
            <i class="material-icons"> <!--isso é do bootstrap-->
                home
            </i>
            Aplicação CRUD
        </a>
    </span>
</mat-toolbar>