.footer {
    position: fixed;
    bottom: 0; /*Pega o footer e coloca lá embaixo*/
    display: flex;
    justify-content: flex-end;
    height: 40px;
}

.footer span {
    font-size: 1rem;
    font-weight: 300;
}