<!--
    Para utilizar essas tags "especiais", precisei importar MatSidenavModule e
    MatListModule em app.module.ts
-->
<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true"
        fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item>
                <i class="material-icons"> <!--utilizando os ícones do material-->
                    home
                </i>
                Início
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    storefront
                </i>
                Produtos
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <app-home></app-home>
    </mat-sidenav-content>
</mat-sidenav-container>